/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background: linear-gradient(to bottom, white, #dfe2e5, #dfe2e5);
  height: auto;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.tabs-container {
  display: flex;
}
.input-container {
  display: flex;
}
input {
  height: 35px;
  width: 200px;
  outline: none;
  border-radius: 10px;
}
.search-icon {
  height: 30px;
  width: 30px;
}

.app-container {
  display: flex;
  flex-wrap: wrap;
}

.line {
  color: red;
}
